@import "tailwindcss";

@font-face {
  font-family: 'Electric';
  src: url('/fonts/elektrix-wizards-font/electric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Pacfont';
  src: url('/fonts/pacfont/pacfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AOM';
  src: url('/fonts/attack-of-monster/aom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stromfaze';
  src: url('/fonts/attack-of-monster/Stormfaze.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-electric: Electric, sans-serif;
  --font-pacfont: Pacfont, sans-serif;
  --font-aom: AOM, sans-serif;
  --font-stromfaze: Stromfaze, sans-serif;
}


body {
  background: black;
  
}



@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(216,66,66,0.6),
                 0 0 10px rgba(216,66,66,0.4),
                 0 0 15px rgba(216,66,66,0.2);
  }
  100% {
    text-shadow: 0 0 7px rgb(113, 45, 45),
                 0 0 12px rgba(216,66,66,0.6),
                 0 0 15px rgba(57, 23, 23, 0.4);
  }
}




.animate-glow {
  transition: all 0.3s ease-in-out;
}

.animate-glow:hover {
  animation: glow 1.5s ease-in forwards; /* forwards keeps the final state */
}
